@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color:#28AFB0;
    --secondary-color:#FCFCFC;
    --accent1-color: #9BC53D;
    --accent2-color: #F69F53;
    --accent3-color:#313715;

    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Poppins", sans-serif;

} 
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
}

body {
    max-width: 950px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 40% 1fr;
  background-color: #7ac3c3;
  align-items: center;
  padding: 1rem;
  font-family: var(--heading-font);
}

header img {
  width: 150px;
  justify-self: center;
  border-radius: 50%;
}

nav ul{
    display: flex; 
    justify-content: center;    
    list-style: none;
    margin-right: 1rem;
    
}

.navLinks {
    display: block;
    padding: 0.4rem 2.5rem;
    background-color: #FCFCFC;
    border: 1px solid black;  
    
}
.navLinks a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.navLinks:hover {
    display: block;
    background-color:  tomato;
	font-weight: 700;
	
}

main { 
   display: flex;
   flex-direction: column;
   
}
footer a {
    text-decoration: none;
    padding: 1rem;
}

.hero {
    position: relative;
  

 }
 
 .hero img {
     display: block;
     width: 100%;
     height: auto;
 }
 
 .hero h1 {
     position: absolute;  
     width: 100%;
     height: 75px;
     padding-top: 2rem;
     color: whitesmoke;
     text-align: center;
     top: 10px; 
     background-color: rgba(60, 60, 60, 0.5);
 }
 
 .hero article {
     position: absolute;
     width: 90%;
     top: 400px;
     left: 40px;  
     font-size: 1.5rem;
     text-align: start;
     color: white;
     background-color: rgba(60, 179, 113, 0.5);
 }

 .hero article p { 
   width: 80%;
   padding: 0 10px 0 10px;
 }
 
 .hero article img {
    width: 200px;
    float: right;
    padding: 1.4rem;
 }

 .history { 
    align-self: center;
    max-width: 700px;
   
 }

 .history h2 {
    text-align: center;
 }

.adventure {
    display: flex;
    flex-direction: column;
}

.advImg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.adventure h2 {    
    text-align: center;
}

.advImg img {
    width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
}


/* Employees on contact page */
.contact-wrapper {
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0.5rem;    
}
.employees {
    width: 950px;
    margin: 2rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.employees img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.employees > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Form */
form {
    width: 950px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;    
    display: grid;
}

form > h2 {
    text-align: center;
    font-size: 2rem;
}

form div {
    margin: 1rem;
}

.form-items > input,
select,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.form-items > input {
    padding: .2rem;
}
.text {
    display: flex;
    flex-direction: column;    
}

input[type="text"], 
input[type="email"],
textarea {
    width: 30%;
}

fieldset {
    width: 450px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}

legend {
    padding: 0.5rem;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox > input{
    order: 0;
    
}
.checkbox > label{
    order: 1;
    margin: 10px;    
}

button {
    width: 350px;
    margin: 0 auto;
    background-color: #28AFB0;
    font-weight: 700;
    padding: 0.4rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

button:hover {
    background-color: #2e7b7b;
}

/* footer */
footer {
    display: flex;
    justify-content: flex-end; 
    border-top: 1px solid rgba(0, 0, 0, 0.2);   
    margin-top: 1rem;
}


footer p {
    margin-right: 4rem;
}

/* Trip page */

.tHero-banner {
    position: relative;
    width: 950px;
    height: 250px;  
    background-position: center;
    background-size: cover;
    background-image:url(https://byui-cse.github.io/wdd130-ww-course/resources/images/river-narrow.jpg);
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom, rgba(255,255,255, 0.25), rgba(255,255,255,0.5), rgba(255,255,255,1));
}

.banner-overlay h1 {
    text-align: center;
    color: black;
    font-size: 2rem;
}
.banner-overlay p {
    text-align: center;
    font-size: 1.5rem;
}

.banner-overlay a {
    text-decoration: none;
}

.container {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 950px;  
    display: grid;   
    grid-template-columns: 30% 30% 30%;
    gap: 20px;

    padding-left: 30px;
}

.card {
    background-color: white;
    padding: 8px;
   
}
.card-detail {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
 
  
}
.card-detail img{
    width: 100%;  
    height: 214px;
    object-fit: cover;
}
.card-desc {
    font-size: .6rem;
}

.card-btn {
    width: 60%;
    border-radius: 0%;
    background: none;
    border:0.5px solid #CBB8B8 ;
}

