@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
    --primary-color:#28AFB0;
    --secondary-color:#FCFCFC;
    --accent1-color: #9BC53D;
    --accent2-color: #F69F53;
    --accent3-color:#313715;

    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Poppins", sans-serif;

    --nav-background-color: #F69F53;
    --nav-link-color: #313715;
    --nav-hover-link-color:#9BC53D;
    --nav-hover-background-color:#28AFB0;
}

body {
    font-family: var(--paragraph-front);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
   position: relative;
   border: 1px solid black;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    border: 1px solid black;
    top: 10px;
}

.hero article {
    position: absolute;
}

article img {
    float: right;
}